  <h4 class="mt-2">{{"Users' collections" | translate}}</h4>
  <table class="table table-striped" [class.table-light]="!isDarkMode" [class.table-dark]="isDarkMode">
    <thead>
      <tr>
        <th scope="col">{{"Name" | translate}}</th>
        <th scope="col">{{"Description" | translate}}</th>
        <th scope="col">{{"Category" | translate}}</th>
        <th scope="col">{{"Author" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collection of collectionList">
        <td>{{collection.name}}</td>
        <td>{{collection.description}}</td>
        <td>{{collectionService.getCategory(collection.category)}}</td>
        <td><p class="pointer" [routerLink]="['/items', collection.collectionId]">{{collection.user?.username}}</p></td>
      </tr>
    </tbody>
  </table>
