  <h4 class="mt-2">Users' collections</h4>
  <table class="table table-striped" [class.table-light]="!isDarkMode" [class.table-dark]="isDarkMode">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collection of collectionList">
        <td>{{collection.name}}</td>
        <td>{{collection.description}}</td>
        <td>{{collectionService.getCategory(collection.category)}}</td>
        <td><p class="pointer" [routerLink]="['/collection-details', collection.collectionId]">{{collection.user?.username}}</p></td>
      </tr>
    </tbody>
  </table>
