<div class="container mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6">
      <h2>{{"Create item" | translate}}</h2>
      <form [formGroup]="itemForm" (ngSubmit)="createCollection()">
        <div class="form-group mt-3">
          <label for="name">{{"Name" | translate}}</label>
          <input type="text" class="form-control collection mt-2" id="name" formControlName="name"
            [attr.placeholder]="'Enter name' | translate" [ngClass]="{'is-invalid': submited && itemForm.get('name')!.errors}">
          <div *ngIf="submited && itemForm.get('name')!.hasError('required')" class="invalid-feedback">
            {{"Name is required" | translate}}
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="description">{{"Description" | translate}}</label>
          <input type="text" class="form-control collection mt-2" id="description" formControlName="description"
            [attr.placeholder]="'Enter description' | translate" [ngClass]="{'is-invalid': submited && itemForm.get('description')!.errors}">
          <div *ngIf="submited && itemForm.get('description')!.hasError('required')" class="invalid-feedback">
            {{"Description is required" | translate}}
          </div>
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary">{{"Create" | translate}}</button> |
          <a [routerLink]="['/items', collectionId]">{{"Go back" | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>
