<div class="container mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6">
      <h2>Create item</h2>
      <form [formGroup]="itemForm" (ngSubmit)="createCollection()">
        <div class="form-group mt-3">
          <label for="name">Name</label>
          <input type="text" class="form-control collection mt-2" id="name" formControlName="name"
            placeholder="Enter name" [ngClass]="{'is-invalid': submited && itemForm.get('name')!.errors}">
          <div *ngIf="submited && itemForm.get('name')!.hasError('required')" class="invalid-feedback">
            *Name is required
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="description">Description</label>
          <input type="text" class="form-control collection mt-2" id="description" formControlName="description"
            placeholder="Description" [ngClass]="{'is-invalid': submited && itemForm.get('description')!.errors}">
          <div *ngIf="submited && itemForm.get('description')!.hasError('required')" class="invalid-feedback">
            *Description is required
          </div>
        </div>
        <div class="mt-4"> <button type="submit" class="btn btn-primary">Create</button> |
          <a [routerLink]="['/items', collectionId]"> Go back</a>
        </div>
      </form>
    </div>
  </div>
</div>
